# C++:
*.slo
*.lo
*.o
*.obj

# local:
log*.botlog
log*.txt
GridMap*.txt
Gait.txt

*.config
*.creator
*.user
*.files

*.botlog


CMakeFiles
.cproject
.project
CMakeCache.txt
Makefile
cmake_install.cmake


